{% comment %}
  Snippet can be used in section or block
  eg. {% include 'atb-include-html'   %}
{% endcomment %}

{% comment %}Assign object as block or section{% endcomment %}
{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}
{% comment %}Layout{% endcomment %}
{% assign width = atb_width %}
{% assign padding_top = atb_padding_top %}
{% assign padding_bottom = atb_padding_bottom %}
{% assign padding_left = atb_padding_left %}
{% assign padding_right = atb_padding_right %}
{% comment %} Advanced {% endcomment %}
{% assign animation = atb_animation | default: 'none' %}
{% assign css_class = atb_css_class %}
{% assign custom_css = atb_custom_css %}

{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    padding-left: {{ padding_left }}px;
    padding-right: {{ padding_right }}px;
    {% if width == 'wide' -%}
      width: 100%;
    {%- elsif width == 'half' -%}
      width: 50%;
    {%- endif %}
  }
  {% include 'atb-css-loop' , css: custom_css, id: id  %}
{% endstyle %}

{% if type == 'block' %}
  {{ atb_html_content }}
{% else %}
  <section class="section {{ css_class }}
                  is-width-{{ width }}
                  {% if background_alpha != 0 or gradient_alpha != 0  %}
                    has-background
                  {% endif %}
                  "
            data-section-id="{{ section_id }}"
            {% if animation != "none" and animation != blank %}
              data-scroll-class="{{ animation }}"
            {% endif %}>
    {{ atb_html_content }}
  </section>
{% endif %}
