{% comment %}
  Snippet can be used in section or block
  eg. {% include 'include-product-description' %}
{% endcomment %}

{% comment %}Assign object as block or section{% endcomment %}
{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}
{% assign title = object.settings.title %}
{% assign blog_widget_select = object.settings.blog_widget_select %}
{% assign home_page_articles = object.settings.home_page_articles %}
{% comment %}Layout{% endcomment %}
{% assign width = object.settings.width %}
{% assign padding_top = object.settings.padding_top %}
{% assign padding_bottom = object.settings.padding_bottom %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = object.settings.css_class %}
{% assign custom_css = object.settings.custom_css %}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if width == 'wide' -%}
      width: 100%;
    {%- endif %}
  }
  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section class="section
                {{ css_class }}
                is-width-{{ width }}">

  
  <div class="container">
    <div class="description content bottom has-padding-top description-custom">
      
      <div class="two-thirds column medium-down--one-whole prod-desc">
        {{ product.description | split: '<!-- split -->' | first }}
      </div>
      <div class="one-third column medium-down--one-whole">
        {% unless product.metafields.global.allergens == blank %}
        	{{product.metafields.global.allergens}}
        {% endunless %}
      </div>
      
    </div>
  </div>
</section>




